
<div class="jumbotron text-center" style="margin-bottom:0"> 
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Assignment 1</button>
  <div id="demo" class="collapse">
    <h6>Simple Address Book Manager </h6>
    <ul>
        <li>
            User can add a contact with name and mobile number (Duplicate mobile number not allowed).
        </li>
        <li>
            Can view list of all contacts in ascending order of name.
        </li>
        <li>
            Can filter records with name.
        </li>
        <li>
            Can filter records with mobile number
        </li>
        <li>
            (filtering should be phrase search, Ex Deepak can be search by typing only De or Dep).
        </li>
        <li>Can edit a contact.Can delete a contact. </li>
    </ul>
  </div> 
  </div>
  
  </body>
  </html>
  